body { 
    background-color: rgb(206, 206, 206);
}

#ddg, #sp, #sc, #lk, #sx, #bv, #pk, #ea, #gb {
    font-size: 30px;
    text-align: left;
    font-weight: 800;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border: 2px solid #000000;
    background-color: rgb(169, 232, 248);
}

button:hover {
    border: 2px solid #000000;
    background-color: #fc5c5c;
}

.text1 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(54, 56, 58);
}

h1 { 
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(54, 56, 58);
}